<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books to Scrape</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Books to Scrape</h1>
    </header>

    <div class="container">
        <!-- Sección de Categorías -->
        <section class="categories">
            <h2>Categories</h2>
            <ul>
                {% for category in categories %}
                <li><a href="{{ category.url }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </section>

        <!-- Sección de Libros -->
        <section class="books">
            <h2>Books</h2>
            <div class="book-list">
                {% for book in books %}
                <div class="book-item">
                    <h3>{{ book.title }}</h3>
                    <p>Price: {{ book.price }}</p>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>

    <!-- Widget4 - Alumnos -->
        <!-- Contenedor personalizado al final de la página -->
        <div class="widget4 full-width">
            <h1>Designed by: Moondak</h1>
            <p>JDRV & DACB</p>
            <!-- Aquí podrías integrar una gráfica en tiempo real si tienes los datos -->
            <img src="/static/luna.gif" width="280px" alt="Weather icon" class="centered">
        </div>
    



</body>
</html>
