<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros para scraping</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Libros para scraping</h1>
    </header>

    <div class="main-container">
        <!-- Sección de Categorías -->
        <aside class="categories">
            <h2>Categories</h2>
            <ul>
                {% for category in categories %}
                <li><a href="{{ category.url }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </aside>

        <!-- Sección de Libros -->
        <section class="books">
            <h2>Books</h2>
            <div class="book-list">
                {% for book in books %}
                <div class="book-item">
                    <h3>{{ book.title }}</h3>
                    <p>Price: {{ book.price }}</p>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>

    <!-- Contenedor del widget4 -->
    <div class="widget4">
        <h1>Designed by: Moondak</h1>
        <p>JDRV, DFM, GPM, & SCB</p>
        <img src="/static/luna.gif" width="280px" alt="Weather icon" class="centered">
    </div>
</body>
</html>
